/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

html, body {
  margin: 0;
  overflow: hidden;
}

.scoreboard {
  position: absolute;
}


image {
  animation: rotateCat 2s infinite;
  transform-origin: 50% 50%;
  transform: translate(25% 25%);
}

@keyframes rotateCat {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}